#texto
/Archivos/conexion.txt
/Archivos/A/Sub 1/Estado/triste.html
/Archivos/A/Sub 1/Estado/estresado.html
/Archivos/A/Sub 1/Estado/frustrado.html
!/Archivos/A/Sub 1/Estado/feliz.html
/Archivos/A/Sub 2/acciones.meta
/Archivos/B/Sub 1/calculadora.meta
/Arvchivos/B/Sub 1/dato 4.zzz
/Archivos/B/Sub 2/Datos
/Archivos/B/Sub 2/dato 2.zzz
/Archivos/C/Sub 2/Apartado/ordenar.class
 